<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, JSUnresolvedLibraryURL, HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{application.name}">IS-Pro</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

    <link rel="stylesheet" media="screen"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" media="screen"
          href="../static/css/style.css"
          th:href="@{css/style.css}"/>

    <style>
        .large-font {
            font-size: 18pt;
            <!--color: #8A0829; -->
        }
    </style>

</head>
<body>

<nav class="navbar navbar-default" th:fragment="top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Подсистема</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Раздел 1</a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Раздел 2</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Раздел 3</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" th:fragment="company-menu">
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-home"></span>
                    <nbsp/>
                    <span th:text="${company_name}"></span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" th:fragment="user-menu">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    <nbsp/>
                    <span th:text="${user_name}"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header" th:text="#{lang.change}">Choose the language</li>
                    <li><a href="?lang=" th:text="#{lang.uk}">Українська</a></li>
                    <li><a href="?lang=ru" th:text="#{lang.ru}">Русский</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout" th:text="#{logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<div class="navbar navbar-default" th:fragment="bottom-navbar">
    <div class="col-sm-10">
        <ul class="nav navbar-nav">
            <li><a href="http://www.intelserv.com/about-company/about-company" target="_blank">© 2017 Интеллект-Сервис</a></li>
            <li><a href="http://www.intelserv.com/allprograms/is-pro" target="_blank">ИС-Про</a></li>
            <li><a href="https://www.youtube.com/channel/UCGl-YDPdusWLd_iydu5lW2A" target="_blank">YouTube</a></li>
            <li><a href="http://www.facebook.com/pages/Intellekt-Servis/116326488440389" target="_blank">Facebook</a></li>
            <li><a href="http://twitter.com/ISPRO7" target="_blank">Twitter</a></li>
            <li><a href="http://www.linkedin.com/companies/intelligenceservice" target="_blank">LinkedIn</a></li>
            <li><a href="https://plus.google.com/u/0/+Intelserv_Kiev" target="_blank">Google+</a></li>
        </ul>
    </div>
</div>
</body>
</html>
