<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, JSUnresolvedLibraryURL, HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{application.name}">IS-Pro</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

    <link rel="stylesheet" media="screen"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" media="screen"
          href="../static/css/style.css"
          th:href="@{css/style.css}"/>

</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/header :: top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">Персонал<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Бухгалтерский учёт</a></li>
                <li><a href="#">Финансовые расчёты</a></li>
                <li><a href="#">Основные средства</a></li>
                <li class="divider"></li>
                <li><a href="#">Логистика</a></li>
                <li><a href="#">Автотранспорт</a></li>
                <li class="divider"></li>
                <li><a href="#">Персонал</a></li>
                <li><a href="#">Образование</a></li>
                <li class="divider"></li>
                <li><a href="#">Производство</a></li>
                <li><a href="#">Планирование и анализ</a></li>
                <li class="divider"></li>
                <li><a href="#">Клиенты</a></li>
                <li><a href="#">Коммунальные услуги</a></li>
                <li class="divider"></li>
                <li><a href="#">Справочники</a></li>
                <li><a href="#">Сервис</a></li>
                <li><a href="#">Адмнинистрирование</a></li>
                <li class="divider"></li>
                <li><a href="#">Справка</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Штат</a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Кадры</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Зарплата</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" th:text="#{lang.change}">Choose the language</li>
                        <li><a href="?lang=" th:text="#{lang.uk}">Українська</a></li>
                        <li><a href="?lang=ru" th:text="#{lang.ru}">Русский</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row content">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#section2">Працівники</a></li>
                <li class="divider"></li>
                <li><a href="#section2">Приём на работу</a></li>
                <li><a href="#section2">Назначение на должность</a></li>
                <li><a href="#section2">Назначение оклада</a></li>
                <li><a href="#section2">Назначение надбавки</a></li>
                <li class="divider"></li>
                <li><a href="#section3">Премия</a></li>
                <li class="divider"></li>
                <li class="active"><a href="#section1">Отпуск</a></li>
                <li><a href="#section2">Больничный</a></li>
                <li><a href="#section3">Командировка</a></li>
                <li class="divider"></li>
                <li><a href="#section2">Увольнение</a></li>
            </ul><br></br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск документа"></input>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <br></br>
        </div>

        <div class="col-sm-9">

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Таб.№</th>
                        <th>Фамилия И.О.</th>
                        <th>Должность</th>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Дней</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>dapibus</td>
                        <td>diam</td>
                        <td>Sed</td>
                        <td>nisi</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Nulla</td>
                        <td>quis</td>
                        <td>sem</td>
                        <td>at</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>nibh</td>
                        <td>elementum</td>
                        <td>imperdiet</td>
                        <td>Duis</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>sagittis</td>
                        <td>ipsum</td>
                        <td>Praesent</td>
                        <td>mauris</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Fusce</td>
                        <td>nec</td>
                        <td>tellus</td>
                        <td>sed</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>augue</td>
                        <td>semper</td>
                        <td>porta</td>
                        <td>Mauris</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>massa</td>
                        <td>Vestibulum</td>
                        <td>lacinia</td>
                        <td>arcu</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>eget</td>
                        <td>nulla</td>
                        <td>Class</td>
                        <td>aptent</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>taciti</td>
                        <td>sociosqu</td>
                        <td>ad</td>
                        <td>litora</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>torquent</td>
                        <td>per</td>
                        <td>conubia</td>
                        <td>nostra</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>per</td>
                        <td>inceptos</td>
                        <td>himenaeos</td>
                        <td>Curabitur</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                        <td>24</td>
                    </tr>

                    </tbody>
                </table>

                <ul class="pagination">
                    <li><a href="#">&larr;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&rarr;</a></li>
                </ul>

            </div>

        </div>
    </div>
</div>



<div class="navbar navbar-default" th:replace="fragments/header :: bottom-navbar">
    <!--
        <div class="col-sm-10">
            <ul class="nav navbar-nav">
                <li><a href="http://www.intelserv.com/about-company/about-company">Интеллект-Сервис</a></li>
                <li><a href="http://www.intelserv.com/allprograms/is-pro">ИС-Про</a></li>
                <li><a href="https://www.youtube.com/channel/UCGl-YDPdusWLd_iydu5lW2A">YouTube</a></li>
                <li><a href="http://www.facebook.com/pages/Intellekt-Servis/116326488440389">Facebook</a></li>
                <li><a href="http://twitter.com/ISPRO7">Twitter</a></li>
                <li><a href="http://www.linkedin.com/companies/intelligenceservice">LinkedIn</a></li>
                <li><a href="https://plus.google.com/u/0/+Intelserv_Kiev">Google+</a></li>
            </ul>
        </div>
        -->
</div>
</body>
</html>
